packages:
  yum:
    python3-devel: []
    gcc: []

commands:
  01_install_poetry:
    command: "curl -sSL https://install.python-poetry.org | python3 -"
  02_update_path:
    command: "echo 'export PATH=\"$HOME/.local/bin:$PATH\"' >> ~/.bash_profile"
  03_install_dependencies:
    command: "source ~/.bash_profile && poetry install"